 body{
 	margin:0;
 /*...............navigation.............*/
 }
#nav-bar a{
	color: white;
	font-weight: 600px;
	text-transform: uppercase;
}
#nav-bar i{
    border:3px solid white;
   	border-radius: 4px;
   	background-color:  #00cba9;
   	color: white;
   	font-size: 2rem
}
#nav-bar a:hover{
	color: gray;
}
/*................section accueil..................*/
#Accueil h1{
	color: green;
	margin-top: 80px;
	text-transform: uppercase;
	text-decoration: overline;
}
#Accueil p{
font-weight: bold;
}
.img-bakeli{
	width: 60%;
}
.img-fluid{
	width: 100%;
}
/*..................section Cours................*/
.photos{
	width: 300px;
	margin-top: 40px;
	padding: 10px;
}
#Cours h1{
	text-transform: uppercase;
	text-decoration: overline;
	color: green;
	margin-top: 60px;
	text-align: center;
}
#Cours h2{
	font-weight: bold;
	margin-top:30px;
}
#Cours p{
	margin: 15px;
}
/*............................sections diplomes.............*/
#Diplomes h2,h3,h4,{
	font-weight: bold;
}
#Diplomes h1{
	color: green;
	text-transform: uppercase;
	text-decoration: overline;
	margin-top: 60px;
	text-align: center;
}
#Diplomes img{
	width: 300px;
	margin-top: 60px;
	padding: 20px;
}
/*.......................sections coachs.......................*/
#coachs h1{
	color: green;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: overline;
	text-align: center;
	margin-top: 70px;
}
#coachs p{
	margin-top: 10px;
}
span{
	color: green;
	font-weight: bold;
}
.phrase{
	text-align: center;
}
/*..................section etudiants...............*/
#Etudiants h1{
color: green;
font-weight: bold;
text-transform: uppercase;
text-decoration: overline;
text-align: center;
margin-top: 70px;
}
.diop{
	font-weight: bold;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}
#Etudiants img{
	width: 300px;
	margin-top: 60px;
	padding: 20px;
}
/*..................section contacts..............*/
#contacts h1{
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 25px;

}
#contacts p{
	color: white;
	margin-top: 10px;
	margin: 15px;
}
#contacts h2{
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	font-size:25px;
}
#contacts h3{
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 25px;
}
#contacts a{
	text-decoration: none;
	color: white;
}
ul{
	list-style-type: square;
	color: white;
}
/*..................footer...........*/
#footer p{
	color: white;
	text-align: center;
	height: 60px;
	padding-top: 20px;
}
/*..................................icons....................*/
[class*='fa']{
	padding: 10px;
	margin-right: 10px;
}
.fa-facebook{
	color:blue;
}
.fa-youtube{
	color: red;
}
.fa-linkedin{
	color: blue;
}
.fa-twitter{
	color: #00aced;
}
.text-center{
	font-size: 3.5em;
}
.fa-facebook:hover,
.fa-youtube:hover,
.fa-linkedin:hover,
.fa-twitter:hover{
	color: #d5d5d5;
}